.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.list-area {
  margin: 0 auto;
  width: 70%;
}
.author-list-area{
  margin-bottom: 20px;
  position: relative;
  display: grid;
  grid-template-columns: 80px minmax(100px,1fr) 160px;
  grid-gap: 2rem;
  padding: 2rem;
  border-radius: 16px;
  border: 1px solid #a4a4a4;
}
.list-body {
  text-align:left;
}
.btnGroup {
  margin:0;
}
.title {
  font-weight: 700;
  font-size: 24px;
  color:#3d3d3d;
}
.author {
  font-size:16px;
  color:#777777;
}
.desc {
  font-size:14px;
  color:#a4a4a4;
}